# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
*.egg-info/
dist/
build/

# CDK
*.js
!jest.config.js
*.d.ts
node_modules/
cdk.out/
.cdk.staging/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
